.likes
  - if current_user.already_liked?(@item)
    = link_to item_like_path(@item, current_user), method: :delete, remote: true, class: "likes__liked" do
      .likes__liked__contents
        = icon 'fas', 'fas fa-heart', class: "likes__liked__contents__heart"
        .likes__liked__contents__text
          いいね!
        .likes__liked__contents__count
          = @item.likes.count
  - else
    = link_to item_likes_path(@item), method: :post, remote: true, class: "likes__unlike" do
      .likes__unlike__contents
        = icon 'far', 'far fa-heart', class: "likes__unlike__contents__heart"
        .likes__unlike__contents__text
          いいね!
        .likes__unlike__contents__count
          = @item.likes.count
