.mypage
  .mypage__container
    .mypage__container__right
      .mypage__container__right__user
        = image_tag '/member_photo_noimage_thumb.png', class: "mypage__container__right__user__icon"
        .mypage__container__right__user__name
          = @user.nickname
        .mypage__container__right__user__exhibitions
          累計出品数
          %span.mypage__container__right__user__exhibitions__number
            = @ruikei_shuppin_items.length
      .mypage__container__right__transaction
        .mypage__container__right__transaction__title
          出品中の商品
        - if @shuppin_chu_items.present?
          .mypage__container__right__transaction__present
            .mypage__container__right__transaction__present__items
              - @shuppin_chu_items.each do |item|
                .mypage__container__right__transaction__present__items__item
                  = link_to item_path(item) do
                    = image_tag item.photos[0].variant(auto_orient: true), class: 'mypage__container__right__transaction__present__items__item__picture'
                  .mypage__container__right__transaction__present__items__item__list
                    .mypage__container__right__transaction__present__items__item__list__name
                      = item.name
                    .mypage__container__right__transaction__present__items__item__list__price
                      = "#{item.price}円"
            = paginate(@shuppin_chu_items, param_name: 'shuppin_chu_page')
        - else
          .mypage__container__right__transaction__nil
            = image_tag '/logo.png', class: "mypage__container__right__transaction__nil__image"
            .mypage__container__right__transaction__nil__text
              出品中の商品がありません
      .mypage__container__right__transaction
        .mypage__container__right__transaction__title
          購入した商品
        - if @katta_items.present?
          .mypage__container__right__transaction__present
            .mypage__container__right__transaction__present__items
              - @katta_items.each do |item|
                .mypage__container__right__transaction__present__items__item
                  = link_to "#" do
                    = image_tag item.photos[0].variant(auto_orient: true), class: 'mypage__container__right__transaction__present__items__item__picture'
                  .mypage__container__right__transaction__present__items__item__list
                    .mypage__container__right__transaction__present__items__item__list__name
                      = item.name
                    .mypage__container__right__transaction__present__items__item__list__price
                      = "#{item.price}円"
            = paginate(@katta_items, param_name: 'katta_page')
        - else
          .mypage__container__right__transaction__nil
            = image_tag '/logo.png', class: "mypage__container__right__transaction__nil__image"
            .mypage__container__right__transaction__nil__text
              過去に購入した商品がありません
    .mypage__container__left
      .mypage__container__left__nav
        %ul.mypage__container__left__nav__list
          %li.mypage__container__left__nav__list__item--active
            = link_to user_path(current_user), class: "mypage__container__left__nav__list__item__a" do
              マイページ
            = icon 'fas', 'fas fa-chevron-right', class: "mypage__container__left__nav__list__item__arrow"
          %li.mypage__container__left__nav__list__item
            = link_to new_item_path(current_user), class: "mypage__container__left__nav__list__item__a" do
              出品する
            = icon 'fas', 'fas fa-chevron-right', class: "mypage__container__left__nav__list__item__arrow"
          %li.mypage__container__left__nav__list__item
            = link_to new_card_path(@card), class: "mypage__container__left__nav__list__item__a" do
              クレジットカードの登録

            = icon 'fas', 'fas fa-chevron-right', class: "mypage__container__left__nav__list__item__arrow"
          %li.mypage__container__left__nav__list__item
            = link_to "#", class: "mypage__container__left__nav__list__item__a" do
              登録情報編集
            = icon 'fas', 'fas fa-chevron-right', class: "mypage__container__left__nav__list__item__arrow"
          %li.mypage__container__left__nav__list__item
            = link_to destroy_user_session_path, method: :delete, class: "mypage__container__left__nav__list__item__a" do
              サインアウト
            = icon 'fas', 'fas fa-chevron-right', class: "mypage__container__left__nav__list__item__arrow"
