.sell-page
  .sell-page__header
    .sell-page__header__banner
      = link_to root_path do
        = image_tag "/logo.png" ,alt: "logo", class: "banner", width: "120px", height: "33px"
  .sell-page__main
    .sell-page__main--head
      商品の情報を入力
    .sell-page__main--inner
      .sell-page__main--inner__content
        = form_with model: @item, local: true do |f|
          .contents
            .form-group
              %label.pict(for="pict")出品画像
              %span.form-require 必須
              %p.pict-caution 最大5枚までアップロードできます
              .image-box-1
                - if @item.persisted?
                  - @item.photos.each_with_index do |photo, i|
                    .item-image__delete__box
                      = f.check_box :delete_photo_ids, {class: "deletecheck",:multiple => true},photo.id, false
                    .item-image
                      .item-image__content
                        .item-image__content--icon
                          = image_tag photo.variant(resize:"114x114"),id: photo.id
                        .item-image__operetion--delete
                          %span{value:photo.id ,class: "deleteid_button"} 削除
                  #image-box__container{class: "item-num#{@item.photos.length}"}
                    = f.file_field :photos, type: 'file',class: 'file-upload', accept: 'image/jpeg,image/gif,image/png', value:"", style: "display:none", id:"img-file" ,multiple: true
                    %label{for: "img-file"}
                      %i.fas.fa-camera
                - else
                  .item-num-0#image-box__container                    
                    = f.file_field :photos, type: 'file',class: 'file-upload', accept: 'image/jpeg,image/gif,image/png', value:"", style: "display:none", id:"img-file" ,multiple: true
                    %label{for: "img-file"}
                      %i.fas.fa-camera
              .error-message
                - if @item.errors.any?
                  =@item.errors.full_messages[0]          
                
          .contents
            .form-group
              %label(for="name")商品名
              %span.form-require 必須
              .form-name
                = f.text_field :name, class: 'input-default', placeholder: "商品名（最大40文字まで）"
                .error-message
                  - if @item.errors.any?
                    =@item.errors.full_messages[2]
            .form-group
              %label(for="text")商品の説明
              %span.form-require 必須
              .form-text
                = f.text_area :text, class: 'input-default-large', placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
              .error-message
                - if @item.errors.any?
                  =@item.errors.full_messages[3]

          .contents
            .contents-info 商品の詳細
            .form-group
              - if @item.persisted?
                .listing-product-detail__category
                  %label(for="category")カテゴリー
                  %span.form-require 必須
                  .listing-select-wrapper
                    .listing-select-wrapper__box
                      = f.select :category_id, options_for_select(@category_parent_array.map{|c|[c[:name],c[:id]]},@parent.id),{include_blank: true},{class: 'listing-select-wrapper__box--select', id: 'parent_category'}
                  .listing-select-wrapper__added{id: "children_wrapper"}
                    .listing-select-wrapper__box
                      = f.select :category_id, options_for_select(@category_children_array.map{|c|[c[:name],c[:id]]},@child.id),{include_blank: true},{class: 'listing-select-wrapper__box--select', id: 'child_category'}
                  .listing-select-wrapper__added{id: "grandchildren_wrapper"}
                    .listing-select-wrapper__box
                      = f.select :category_id, options_for_select(@category_grandchildren_array.map{|c|[c[:name],c[:id]]},@grandchild.id),{include_blank: true},{class: 'listing-select-wrapper__box--select', id: 'grandchild_category'}
              - else
                .listing-product-detail__category
                  %label(for="category")カテゴリー
                  %span.form-require 必須
                  .listing-select-wrapper
                    .listing-select-wrapper__box
                      = f.select :category_id, options_for_select(@category_parent_array.map{|c|[c[:name],c[:id]]}),{include_blank: true},{class: 'listing-select-wrapper__box--select', id: 'parent_category'}
              .error-message
                - if @item.errors.any?
                  =@item.errors.full_messages[11]

            .form-group
              %label(for="brand_name")ブランド名
              %span.form-any 任意
              .form-text
                = f.text_field :brand_name, class: 'input-default', placeholder: "例）メゾンマルタンマルジェラ"
            .form-group
              %label(for="status")商品の状態
              %span.form-require 必須
              .category-select-wrap
                .select-wrap
                  %i.icon-arrow-bottom
                  = f.select :status, [["",""],["新品・未使用","新品・未使用"]]
              .error-message
                - if @item.errors.any?
                  =@item.errors.full_messages[4]
          .contents 
            .contents-info
              .caution 配送について
              .form-question
                = link_to("?","#")
            .form-group
              %label(for="shipping_charges")配送料の負担
              %span.form-require 必須
              .category-select-wrap
                .select-wrap
                  %i.icon-arrow-bottom
                  = f.select :shipping_charges, [["",""],["送料込み（出品者負担）","送料込み（出品者負担）"],["着払い（購入者負担）","着払い（購入者負担）"]]
              .error-message
                - if @item.errors.any?
                  =@item.errors.full_messages[11]

            .form-group
              %label(for="shipping_area")発送元の地域
              %span.form-require 必須
              .category-select-wrap
                .select-wrap
                  %i.icon-arrow-bottom
                  = f.select :shipping_area, [["",""],["東京","東京"]]
              .error-message
                - if @item.errors.any?
                  =@item.errors.full_messages[6]
            .form-group
              %label(for="days_to_ship")発送までの日数
              %span.form-require 必須
              .category-select-wrap
                .select-wrap
                  %i.icon-arrow-bottom
                  = f.select :days_to_ship, [["",""],["1-2日で発送","1-2日で発送"],["2-3日で発送","2-3日で発送"],["4-7日で発送","4-7日で発送"]]
              .error-message
                - if @item.errors.any?
                  =@item.errors.full_messages[7]    
          .contents
            .contents-info
              .caution 販売価格（300〜9,999,999）
              .form-question
                = link_to("?","#")
            .form-group
              .form-group__price
                .form-group__price--left
                  %label(for="price")価格
                  %span.form-require 必須
                .form-group__price--right
                  ¥ 
                  = f.text_field :price, class: 'input-default-price', placeholder: "例）300"
              .error-message
                - if @item.errors.any?
                  =@item.errors.full_messages[9]
          .contents
            .form-group
              .submit-caution
                = link_to("禁止されている出品", "#")
                、
                = link_to("行為", "#")
                を必ずご確認ください。
                %br
                またブランド品でシリアルナンバー等がある場合はご記載ください。
                = link_to("偽ブランドの販売", "#")
                は犯罪であり処罰される可能性があります。
                %br
                また、出品をもちまして
                = link_to("加盟店規約", "#")
                に同意したことになります。

              .btn__send
                = f.submit '登録・送信', class: 'submit'
                .btn__redirect
                  = link_to "もどる", :back

  .sell-page__footer
    .caution
      %li
        = link_to("プライバシーポリシー", "#")
      %li
        = link_to("フリマアプリ利用規約", "#")
      %li
        = link_to("特定商取引に関する表記", "#")      
      %br
 
    .footer-logo
      = link_to root_path do
        = image_tag "/logo.png" ,alt: "logo", class: "banner", width: "120px", height: "33px"

    %p.footer-inc
      %small © TEAM-S, Inc.
