.buy-page
  .buy-page__header
    .buy-page__header__banner
      = link_to("https://www.mercari.com/jp/tokutei/") do
        = image_tag "/logo.png" ,alt: "logo", class: "banner", width: "120px", height: "33px"

  .buy-page__main
    .buy-page__main--head
      購入内容の確認
    .buy-page__main--inner
      .buy-page__main--inner__content
        = form_with model: @items, local: true do |f|
          .contents

            .buy-item
              .buy-item__image
                = image_tag "/member_photo_noimage_thumb.png" ,alt: "logo", class: "item-pict", width: "80px", height: "80px"
              .buy-item__info
                .buy-item__info__name エンダースキーマ
                .buy-item__info__price
                  .buy-item__info__price__buy-price ¥10,000（税込）
                  .buy-item__info__price__shipping-charge 送料込み
            .border

            .buy-price
              .buy-price--left
                支払い金額
              .buy-price--right
                ¥ 9,000
            .border

            .method-of-payment
              .method-of-payment__change
                %p.method 支払い方法
                %p.change
                  = link_to("変更する", "#")
              .method-of-payment__how-to-pay
                クレジットカード
                %br
                *********7777
                %br
                有効期限 **/**
                %br
                %i.fab.fa-cc-mastercard

            .border

            .shipping-info
              .shipping-info__change
                %p.method 配送先
                %p.change
                  = link_to("変更する", "#")
              .shipping-info__confirm
                〒***-****
                %br
                和歌山県山田山
                %br
                山田山男
            .border

            .btn__send
              = f.submit '購入する', class: 'submit'

  .buy-page__footer
    %ul.caution
      %li
        = link_to("プライバシーポリシー", "https://www.mercari.com/jp/privacy/")
      %li
        = link_to("フリマアプリ利用規約", "https://www.mercari.com/jp/tos/")
      %li
        = link_to("特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/")      
      %br
 
    .footer-logo
      = link_to("https://www.mercari.com/jp/tokutei/") do
        = image_tag "/logo.png" ,alt: "logo", class: "banner", width: "120px", height: "33px"

    %p.footer-inc
      %small © TEAM-S, Inc.
