.registernow
  .registernow__inner
    .registernow__inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    .registernow__inner__text
      今すぐ無料ダウンロード！
    .registernow__inner__icons
      .registernow__inner__icons__appstore
        = image_tag '/appstore.svg', class: "registernow__inner__icons__appstore__logo"
      .registernow__inner__icons__googleplay
        = image_tag '/googleplay.svg', class: "registernow__inner__icons__googleplay__logo"
.footer
  .footer__contents
    .footer__contents__content
      .footer__contents__content__title
        FURIMAについて
      .footer__contents__content__ul
        .footer__contents__content__ul__li
          会社概要（運営会社）
        .footer__contents__content__ul__li
          プライバシーポリシー
        .footer__contents__content__ul__li
          FURIMA利用規約
        .footer__contents__content__ul__li
          ポイントに関する特約
    .footer__contents__content
      .footer__contents__content__title
        FURIMAを見る
      .footer__contents__content__ul
        .footer__contents__content__ul__li
          カテゴリー一覧
        .footer__contents__content__ul__li
          ブランド一覧
    .footer__contents__content
      .footer__contents__content__title
        ヘルプ＆ガイド
      .footer__contents__content__ul
        .footer__contents__content__ul__li
          FURIMAガイド
        .footer__contents__content__ul__li
          FURIMAロゴ利用ガイドライン
        .footer__contents__content__ul__li
          お知らせ
  .footer__logo
    = image_tag '/logo-white.png', class: "footer__logo__img"
  %p.footer__company
    ©︎ FURIMA
= link_to new_item_path, class: "btn" do
  %span.btn__text
    出品する
  = image_tag '/icon_camera.png', class: "btn__icon"
