.header
  .header__inner
    .header__inner__top
      = link_to root_path, class: "header__inner__top__logo" do
        = image_tag '/logo.png'
      .header__inner__top__form
        キーワードから探す
      .header__inner__top__submit
        = image_tag '/icon-search 1.png'
    .header__inner__bottom
      .header__inner__bottom__left
        .header__inner__bottom__left__category
          カテゴリー
          .header__inner__bottom__left__category__toggle
            .header__inner__bottom__left__category__toggle__parent
              - @categories.each do |parent|
                - unless parent.ancestry.present? 
                  .header__inner__bottom__left__category__toggle__parent__tree{data: {id: parent.id}}
                    =link_to root_path, class: "header__inner__bottom__left__category__toggle__parent__tree__name" do
                      = parent.name
            .header__inner__bottom__left__category__toggle__child
              - @categories.each do |parent|
                - unless parent.ancestry.present? 
                  -parent.children.each do |child|
                    .header__inner__bottom__left__category__toggle__child__tree{data: {ancestry: child.ancestry, id: child.id}} 
                      =link_to root_path, class: "header__inner__bottom__left__category__toggle__child__tree__name" do
                        = child.name
            .header__inner__bottom__left__category__toggle__grandchild
              - @categories.each do |parent|
                - unless parent.ancestry.present? 
                  -parent.children.each do |child|
                    -child.children.each do |grandchild|
                      .header__inner__bottom__left__category__toggle__grandchild__tree{data: {ancestry: grandchild.ancestry}}
                        =link_to root_path, class: "header__inner__bottom__left__category__toggle__grandchild__tree__name" do
                          = grandchild.name
        .header__inner__bottom__left__brand
          ブランド
      .header__inner__bottom__right
        .header__inner__bottom__right__login
          - unless user_signed_in?
            = link_to new_user_session_path, class: "header__inner__bottom__right__login__link" do
              ログイン
        .header__inner__bottom__right__signup
          - unless user_signed_in?
            = link_to new_user_registration_path, class: "header__inner__bottom__right__signup__link" do
              新規会員登録
        .header__inner__bottom__right__mypage
          - if user_signed_in?
            = link_to user_path(current_user.id), class: "header__inner__bottom__right__mypage__link" do
              マイページ
        .header__inner__bottom__right__signout
          - if user_signed_in?
            = link_to destroy_user_session_path, method: :delete,  class: "header__inner__bottom__right__signout__link" do
              サインアウト
