.header
  .header__inner
    .header__inner__top
      = link_to root_path, class: "header__inner__top__logo" do
        = image_tag '/logo.png'
      .header__inner__top__form
        キーワードから探す
      .header__inner__top__submit
        = image_tag '/icon-search 1.png'
    .header__inner__bottom
      .header__inner__bottom__left
        .header__inner__bottom__left__category
          カテゴリー
        .header__inner__bottom__left__brand
          ブランド
      .header__inner__bottom__right
        .header__inner__bottom__right__login
          - unless user_signed_in?
            = link_to new_user_session_path, class: "header__inner__bottom__right__login__link" do
              ログイン
        .header__inner__bottom__right__signup
          - unless user_signed_in?
            = link_to new_user_registration_path, class: "header__inner__bottom__right__signup__link" do
              新規会員登録
        .header__inner__bottom__right__mypage
          - if user_signed_in?
            = link_to user_path(current_user.id), class: "header__inner__bottom__right__mypage__link" do
              マイページ
        .header__inner__bottom__right__signout
          - if user_signed_in?
            = link_to destroy_user_session_path, method: :delete,  class: "header__inner__bottom__right__signout__link" do
              サインアウト
